body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .social-icon,
  .location {
    list-style: none;
  }
  .social-icon li,
  .location li {
    display: inline-block;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
  }
  .social-header {
    background-color: greenyellow;
  }
  .social-icon li .fa {
    font-weight: bold;
  }
  .social-icon {
    text-align: left;
    margin-bottom: 0;
    padding-left: 0;
  }
  .location {
    text-align: right;
    margin-bottom: 0;
  }
  .search-sec {
    padding: 10px 0;
  }
  .search-sec .navbar-form,
  .search-sec .navbar-form .input-group {
    width: 100%;
  }
  .cart {
    color: black;
    border: 1px solid;
    padding: 10px 15px;
    top: 12px;
    position: relative;
    border-radius: 3px;
    float: right;
  }
  .navbar-form .input-group-btn .btn {
    background: greenyellow;
  }
  .navbar-brand {
    background: greenyellow !important;
    color: black !important;
  }
  .navbar-nav a {
    text-decoration: none;
    background: transparent !important;
    color: #000 !important;
    font-size: 1.2vw;
    text-transform: uppercase;
  }
  .banner img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }
  .fruits img,
  .product-card img {
    width: 100%;
  }
  .product-card p {
    margin-bottom: 30px;
  }
  .product-card a {
    text-decoration: none;
    color: black;
    text-align: center;
    background: greenyellow;
    padding: 9px 20px;
    border-radius: 20px;
    margin-top: 15px;
  }
  .product-card img {
    height: 150px;
  }
  .how-help .img-card .imgs img {
    width: 64px;
    background: greenyellow;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    display: block;
  }
  .how-help .img-card {
    text-align: center;
    background: beige;
    padding: 10px;
    border-radius: 5px;
  }
  .product,
  .how-help,
  .about-us,
  .gallrery,
  .video, 
  .contact-us{
    margin-bottom: 50px;
  }
  .product h2,
  .how-help h2,
  .about-us h2,
  .gallrery h2,
  .video h2, 
  .contact-us h2 {
    margin-bottom: 20px;
  }
  .how-help .img-card h4 {
    font-weight: bold;
  }
  .about-us {
    text-align: center;
    margin: auto;
  }
  .gal-img img {
    width: 100%;
    border-radius: 20px;
    height: 190px;
    object-fit: cover;
  }
  .video iframe {
    border-radius: 20px;
  }
  .video p {
    text-align: center;
  }
  .contact-us .fa {
    background: greenyellow;
    padding: 6px 9px;
    border-radius: 50%;
  }
  .contact-us .btn {
    padding: 8px 15px;
    background: greenyellow;
    margin-top: 20px;
    border-radius: 20px;
    font-weight: bold;
  }
  .footer-menu {
    list-style: none;
    padding: 0;
  }
  .footer-menu li {
    display: inline-block;
    padding: 10px;
  }
  .footer-menu li a {
    color: #000;
  }
  .footer-bacground .social-icon li {
    padding: 0px 10px;
  }
  .footer-bacground .social-icon {
    text-align: right;
  }
  .footer-bacground {
    background: #ddd;
    padding: 10px 0;
  }
  